$ActionQueueType LinkedList
$ActionQueueFileName fwdspool
$ActionResumeRetryCount -1
$ActionQueueSaveOnShutdown on

*.* @@127.0.0.1:{{ routing_table.logserver.tcp.local }}
$ActionExecOnlyWhenPreviousIsSuspended off
