---
- name: ensure offline_content_dir is set
  set_fact: offline_content_dir='/home/ubuntu/offline_content/'
  when: offline_content_dir is undefined

- name: ensure offline_config_dir is set
  set_fact: offline_config_dir='/home/ubuntu/offline_config/'
  when: offline_config_dir is undefined

- name: determine what architecture the target server is running on in helm style.
  command: bash -c 'uname -m | sed -e "s/i[3-6]86/i386/" -e "s/x86_/amd/" -e "s/aarch/arm/"'
  register: helm_architecture

- name: download helm checksum
  get_url:
    url: 'https://get.helm.sh/helm-v3.1.0-linux-{{ helm_architecture.stdout }}.tar.gz.sha256sum'
    dest: '/tmp/helm-v3.1.0-linux-{{ helm_architecture.stdout }}.tar.gz.sha256sum'

- name: read helm checksum
  command: bash -c 'cat /tmp/helm-v3.1.0-linux-{{ helm_architecture.stdout }}.tar.gz.sha256sum | sed "s/ .*//"'
  register: helm_checksum

- name: download helm binary
  get_url:
    url: 'https://get.helm.sh/helm-v3.1.0-linux-{{ helm_architecture.stdout }}.tar.gz'
    dest: '/tmp/helm-v3.1.0-linux-{{ helm_architecture.stdout }}.tar.gz'
    checksum: 'sha256:{{ helm_checksum.stdout }}'

- name: extract helm binary
  unarchive:
    src: '/tmp/helm-v3.1.0-linux-{{ helm_architecture.stdout }}.tar.gz'
    dest: /usr/local/bin
    extra_opts:
    - --strip=1
    - --wildcards
    - '*/helm'
    remote_src: True
    creates: /usr/local/bin/helm
  become: yes

- name: create offline content directory for helm charts
  file:
    path: '{{ offline_content_dir }}/helm_repository/charts'
    state: directory

- name: create cache directory for helm charts
  file:
    path: '{{ offline_config_dir }}/helm_repository/{{ item }}'
    state: directory
  with_items:
    - cache
    - config
    - data

- name: add our helm repo to our helm environment
  command: helm repo add wire-release https://s3-eu-west-1.amazonaws.com/public.wire.com/charts
  environment:
    XDG_CACHE_HOME: '{{ offline_config_dir }}/helm_repository/cache'
    XDG_CONFIG_HOME: '{{ offline_config_dir }}/helm_repository/config'
    XDG_DATA_HOME: '{{ offline_config_dir }}/helm_repository/data'

- name: update the helm indexes
  command: helm repo update
  environment:
    XDG_CACHE_HOME: '{{ offline_config_dir }}/helm_repository/cache'
    XDG_CONFIG_HOME: '{{ offline_config_dir }}/helm_repository/config'
    XDG_DATA_HOME: '{{ offline_config_dir }}/helm_repository/data'

- name: include our list of helm charts to mirror
  include_vars: 'group_vars/helm_charts.yml'

- name: pull all of the helm charts
  command: 'helm pull --destination {{ offline_content_dir }}/helm_repository/charts --untar --untardir {{ offline_content_dir }}/helm_repository/charts {{ item.value.name }}'
  environment:
    XDG_CACHE_HOME: '{{ offline_config_dir }}/helm_repository/cache'
    XDG_CONFIG_HOME: '{{ offline_config_dir }}/helm_repository/config'
    XDG_DATA_HOME: '{{ offline_config_dir }}/helm_repository/data'
  with_dict: '{{ helm_charts }}'  
