ansible-modules-hashivault==3.17.0
awscli==1.16.140
boto==2.49.0
certbot-dns-route53==0.33.1
dnspython==1.16.0
docker==3.7.2
netaddr==0.7.19
psycopg2-binary==2.8.1
six==1.11.0
ansible==2.7.10 # ansible is more lenient with dependency versions than some other packages, leave towards the bottom of this file! (if this is the first line, you'll get errors of type 'version XX has requirement version YY, which is incompatible')
